@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background-primary: #eee;
  --loading-upper: #2da2ff;
  --loading-right: #ff337a;
  --loading-lower: #ffff00;
  --loading-left: #00ff00;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* height: 100vh; */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: #eee;
}

.weather__container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: auto; */
}

/* Search Box */
.weather__search--container {
  position: fixed;
  top: 1.5rem;
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  gap: 1rem;
}
.weather__search--form {
  width: 100%;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0 20px;
}

.weather__search--input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  color: #fff;
}

::placeholder{
  color: #fff;
}

.weather__search--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #58629b;
  cursor: pointer;
}

.weather__search--error{
  font-weight: 600;
  color: var(--loading-right);
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.5s;
}
.weather__search--error.hide {
  opacity: 0;
}

/* End Search Box */

/* Weather information */
.weather__information {
  width: 100%;
  position: relative;
}

.weather__information--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 10000;
}

.weather__information--row {
  position: relative;
  margin-top: 1rem;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather__information--main-row{
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.weather__information--degree {
  font-weight: 600;
  font-size: 16px;
}
.weather__information--icon{
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}



.line{
  position: absolute;
  display: inline;
  width: 20rem;
  height: 3px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.weather__information--side1,
.weather__information--side2 {
  /* width: 20rem; */
  /* flex-shrink: 0; */
  font-size: 14px;
  font-weight: 400;
}

.lazy-load{
  opacity: 0;
  /* animation: show-info 2s 1 forwards; */
  /* animation-delay: 5s; */
}



/* End Weather information */

/* Loader */
.weather__information--loading{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-900px);
  /* transition: translate 1s;   */
  /* transform: translate(-50%, 50%); */
}

.weather__information--loading.hide {
  z-index: -2;
  transform: translateX(-10000%);
}

.weather__information--loading .ball {
  position: absolute;
  height: 20px;
  width: 20px;
  /* background: blue; */
  border-radius: 50%;
}

.weather__information--loading .upper{
  left: 0;
  top: -20px;
  background: var(--loading-upper);
  animation: upper 0.5s infinite alternate-reverse;
}
.weather__information--loading .right {
  bottom: 0;
  right: -20px;
  background: var(--loading-right);
  animation: right 0.5s infinite alternate-reverse;
}

.weather__information--loading .lower{
  bottom: -20px;
  right: 0;
  background: var(--loading-lower);
  animation: lower 0.5s infinite alternate-reverse;
}
.weather__information--loading .left {
  left: -20px;
  top: 0;
  background: var(--loading-left);
  animation: left 0.5s infinite alternate-reverse;

}

@keyframes upper{
  50%, 100%{
    top: 15px;
  }
}

@keyframes right{
  50%, 100%{
    right: 15px;
  }
}

@keyframes lower{
  50%, 100%{
    bottom: 15px;
  }
}

@keyframes left{
  50%, 100%{
    left: 15px;
  }
}

/* End Loader */


/* Animations */
@keyframes show-info {
  from{
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* End Animations */

/* Responsive */
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {

}

/* End Responsive */