@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background-primary: #eee;
  --loading-upper: #2da2ff;
  --loading-right: #ff337a;
  --loading-lower: #ffff00;
  --loading-left: #00ff00;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.weather__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Loader */
.weather__information--loading{
  height: 20px;
  width: 20px;
  /* background: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.weather__information--loading .ball {
  position: absolute;
  height: 20px;
  width: 20px;
  /* background: blue; */
  border-radius: 50%;
}

.weather__information--loading .upper{
  left: 0;
  top: -20px;
  background: var(--loading-upper);
  animation: upper 0.8s infinite alternate-reverse;
}
.weather__information--loading .right {
  bottom: 0;
  right: -20px;
  background: var(--loading-right);
  animation: right 0.8s infinite alternate-reverse;
}

.weather__information--loading .lower{
  bottom: -20px;
  right: 0;
  background: var(--loading-lower);
  animation: lower 0.8s infinite alternate-reverse;
}
.weather__information--loading .left {
  left: -20px;
  top: 0;
  background: var(--loading-left);
  animation: left 0.8s infinite alternate-reverse;

}


@keyframes upper{
  50%, 100%{
    top: 15px;
  }
}

@keyframes right{
  50%, 100%{
    right: 15px;
  }
}

@keyframes lower{
  50%, 100%{
    bottom: 15px;
  }
}

@keyframes left{
  50%, 100%{
    left: 15px;
  }
}

/* End Loader */

/* Search Box */
.weather__container--search-container {
  display: flex ;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 15rem;
}
.search__container--form {
  width: 100%;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0 20px;
}

.search__container--input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #fff;
}

::placeholder{
  color: #fff;
}

.search__container--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #58629b;
  cursor: pointer;
}

/* End Search Box */

/* Weather information */
.weather__information {
  position: relative;
}

/* End Weather information */